.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.3s;
	border-right: 1px solid grey;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #000;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

.nav {
	border-bottom: 1px solid #808080;
	padding: 5px 0 5px 0;
}

.menuBottom {
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
	position: absolute;
}

.home {}

.navbar {
	padding-bottom: 10px;
	border-bottom: 1px solid #808080;
}

.name {
	width: max-content;
	font-size: 30px;
	padding: 10px 0 10px 60px;
}

.name a {
	color: #000;
	text-decoration: none;
}

.main {
	text-align: center;
}

.hero {
	max-width: 100%;
	max-height: 280px;
	padding: 100px;
	border-radius: 50%;
}

.welcome {
	width: 75%;
	font-size: 3rem;
	font-weight: bolder;
	padding: 100px 0 100px 0;
	margin: auto;
	animation: rainbow 3s linear infinite alternate;
}

@keyframes rainbow {
	0% {
		color: red;
		transform: rotate(1deg);
	}

	25% {
		color: orange;
		transform: scale(1.1, 1.1);
	}

	50% {
		color: blue;
		transform: scale(1.1, 1.1);
	}

	100% {
		color: green;
		transform: rotate(-1deg);
	}
}